
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Hello, Below are Links to the Exercises</h3>
@Html.ActionLink("Baby Lotto", "BabyLotto", "Home")<br/>
@Html.ActionLink("Colored Name", "ColoredName", "Home")<br/>
@Html.ActionLink("Fizz Buzz Revisited", "FizzBuzzFive", "Home")<br/>
@Html.ActionLink("Last Two Switcheroo", "LastTwo", "Home")<br/>
@Html.ActionLink("Ordered Name", "OrderedName", "Home")<br/>
@Html.ActionLink("Squirrel Party", "SquirrelParty", "Home")<br/>
